{% extends 'index.html' %}

{% block title %}
    <title>My Collections | {{request.user.username}}</title>
{% endblock title %}


{% block content %}

<div class="container">
    <h3>My Collections</h3>
    {% if blog_posts %}
    <ul>
        {% for post in blog_posts %}
        <a href="{% url 'user_dashboard:detail' post.slug %}">
            <li class="list-group-item">{{post.image}} | {{post.title}} | {{post.author}}</li>
        </a>
        {% endfor %}
    </ul>
    {% else %}
    <p>You do not have any NFT collections. Mint an NFT <a href="{% url 'user_dashboard:create' %}">now</a>.</p>
    {% endif %}
</div>

{% endblock content %}